<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>To-do application</title>
</head>
<body>

<div th:switch="${tasks}">
    <h2 th:case="null">No tasks found!</h2>
    <div th:case="*">
        <h2>Tasks</h2>
        <table>
            <thread>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>isCompleted</th>
                </tr>
            </thread>
            <tbody>
                <tr th:each="task: ${tasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.isCompleted}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/aim/task-create">Create new task</a></p>
</div>

</body>
</html>